{% extends "dojango/base.html" %}
{% block dojango_page_title %}Показания датчиков - график{% endblock %}

{% block dojango_header_extra %}
    <script src="/static/chart.js"></script>
{% endblock %}

{% block dojango_content %}
    <div id='f' style='padding-left:20px;width:20%; height:100%;float:left;'>
        <h2 style='padding: 20px;'>Заполните форму для отображения графика</h2>
        <form id='form' action="./" method="GET">
            <ol style='margin-left:0px;'>
                {% for field in form %}
                    <li>
                        <label>{{ field.label }}</label><br>
                        {{ field }}
                    </li>
                {% endfor %}
            </ol>
            <button style='margin-left:30px;' dojoType="dijit.form.Button" type="submit">Показать</button>
        </form>
        <div id='selectableLegend' style='padding-top:20px;'>

        </div>
    </div>
    <div id='chart' style='float:left;width:78%;height:400px;margin-top:3%;'>

    </div>

{% endblock %}