<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>CPU</title>
    <script src="/static/underscore-1.2.2.js"></script>
    <script src="/static/jquery-1.6.4.js"></script>
    <script src="/static/json2.js"></script>
    <script src="/static/backbone.js"></script>
    <script>
        var positions = {{ pos|safe }}

        var Unit = Backbone.Model.extend({
            initialize:function(data){
                this.set({date:new Date(data.date)});
            },
            get_label:function(field){
                var d = positions[this.get('model')][field]
                return  d ? d.place + ' позиция ' + d.pos : undefined
            }
        });

        var Data = Backbone.Collection.extend({
            url:'/last/',
            model:Unit
        });

        var View = Backbone.View.extend({
            tagName:'tr',
            render: function(){
                $(this.el).html('ololo')
            }
        })
        window.data = new Data
        window.data.reset({{ data|safe }})

        

    </script>


</head>
<body>
</body>
</html>
